<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HYGGE Store</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <div class="nav">
        <a class="shop"><span>H</span><span>Y</span><span>G</span><span>G</span><span>E</span></a>
        <div class="nav-a">
            <a href="/" class="links">profile</a>
        </div>
    </div>
    <div class="website-body">
        <form action="/register" method="post">
            <h2 class="text">Register</h2>
            {% with messages = get_flashed_messages(category_filter=['register']) %}
                {% if messages %}
                <div class="alert" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-info">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" class="form-input">
            </div>
            <div class="form-info">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" class="form-input">
            </div>
            <div class="form-info">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-input">
            </div>
            <div class="form-info">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-input">
            </div>
            <div class="form-info">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" class="form-input">
            </div>
            <input type="submit" value="Register" class="btn">
        </form>
        <form action="/login" method="post">
            <h2 class="text-success">Login</h2>
            {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-info">
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-input">
            </div>
            <div class="form-info">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-input">
            </div>
            
            <input type="submit" value="Login" class="btn">
        </form>
    </div>
</body>
</html>